<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this transaction", edit_transaction_path(@transaction) %> |
  <%= link_to "<", transactions_path %>

  <%= button_to "Destroy this transaction", @transactions_path, method: :delete %>
</div>
